# /etc/aehostd.conf - Configuration for AE-DIR's custom NSS/PAM host demon
#
# {{ ansible_managed }}

[aehostd]

# General process parameters
#-------------------------------------------

# the user name or ID aehostd should be run as
uid = {{ aehostd_user }}
# the group name or ID aehostd should be run as
gid = {{ aehostd_group }}

# Level of log details (Integer), see Python's standard logging module
# Default: 20 (INFO)
loglevel = {{ aehostd_loglevel }}

# Path name of syslog socket:
# Setting this to a string enforces using syslog, empty string results
# in default syslog socket /dev/log being used.
# Default: None (sends log messages to stderr)
logsocket = /dev/log

# Interval (seconds) at which internal monitoring data is written to log.
# Setting this to zero or negative value disables monitor logging completely.
# The default is -1.0 (disabled).
monitor = {{ aehostd_monitor }}

# Parameters for the Unix domain socket over which
# to receive requests from front-end modules
#-------------------------------------------------

# Path name of service socket which must match what PAM and NSS modules expect
# Default: /var/run/aehostd/socket
socketpath = {{ aehostd_socket }}

# timeout (seconds) of service socket
# Default: 10.0 seconds
#sockettimeout = 10.0

# permissions (octal digits) used for service socket
# Default: 0666 (world-readable and -writeable)
#socketperms = 0666

# LDAP connection parameters
#-------------------------------------------

# At least one of uri_list or uri_pool must be specified.
# Both uri_list or uri_pool may be specified.
# List of LDAP servers (LDAP URIs) to try first in exactly this order
# no matter what is configured in uri_pool.
# Default: empty list.
uri_list =
{% for ldap_uri in aehostd_uri_list %}
  {{ ldap_uri }}
{% endfor %}

# List of LDAP servers (LDAP URIs) to try after all LDAP URIs defined with uri_list failed.
# This list gets rotated based on hosts's canonical FQDN for client-side load-balancing.
# Default: empty list.
uri_pool =
{% for ldap_uri in aehostd_uri_pool %}
  {{ ldap_uri }}
{% endfor %}

# The bind-DN to use when binding as service to AE-DIR with simple bind.
# Preferrably the short bind-DN should be used.
binddn = host={{ inventory_hostname }},{{ aehostd_searchbase }}

# The password file to use for simple bind as identity given in binddn.
# Default is: /var/lib/aehostd/aehostd.pw
bindpwfile = {{ aehostd_pw_file }}

# Timeout (seconds) used for all LDAP connections/operations
# Default: 6.0
#timelimit = 6.0

# LDAPObject cache TTL used for short-time LDAP search cache.
# Default: 6.0
#cache_ttl = 6.0

# File containing trusted root CA certificate(s).
# Default: None, which means use system-wide trust store.
tls_cacertfile = {{ aehostd_cacert_pathname }}

# File containing client certificate used for SASL/EXTERNAL bind.
#tls_cert = /etc/aehostd.crt

# File containing private key used for SASL/EXTERNAL bind.
#tls_key = /etc/aehostd.key

# Time span (seconds) after which aehostd forcibly reconnects.
# Default: 1800 (30 min.)
conn_ttl = {{ aehostd_conn_ttl }}

# NSS map parameters
#-------------------------------------------
# Names of passwd entries to ignore
# Default: All user names found in local file /etc/passwd
#nss_ignore_users =
# IDs of passwd entries to ignore
# Default: All UIDs found in local file /etc/passwd
#nss_ignore_uids =
# Names of group entries to ignore
# Default: All user names found in local file /etc/group
#nss_ignore_groups =
# IDs of group entries to ignore
# Default: All UIDs found in local file /etc/group
#nss_ignore_gids =
# Refresh time (seconds) for NSS passwd and group maps
# Default: 60.0 (1 min)
#refresh_sleep = 60.0

# Minimum numeric UID to handle in passwd requests
# Default: 0
#nss_min_uid = 0
# Minimum numeric GID to handle in group requests
# Default: 0
#nss_min_gid = 0
# Maximum numeric UID to handle in passwd requests
# Default: 65500
#nss_max_uid = 65500
# Maximum numeric GID to handle in group requests
# Default: 65500
#nss_max_gid = 65500

# Refresh time (seconds) for hosts maps. Negative values disables hosts refresh.
# Default: -1.0 (disabled)
#netaddr_refresh = -1.0
# Levels (int) to go up for deriving the hosts map search base.
# Default: 2
#netaddr_level = 2

# Which member attribute in aeGroup entries to use
# Default: memberUid
#memberattr = memberUid

# Name prefix used for virtual groups
# Default:
#vgroup_name_prefix = ae-vgrp-

# Number offset (int) to be used for virtual groups
# Default: 9000
#vgroup_rgid_offset = 9000

{% if aehostd_sshkeys_dir %}
# Directory name where to store exported SSH authorized keys
sshkeys_dir = {{ aehostd_sshkeys_dir }}
{% endif %}

# passwd string of virtual user account used to authenticate as own aeHost object
# Default: aehost-init:x:9042:9042:AE-DIR virtual host init account:/tmp:/usr/sbin/nologin
#aehost_vaccount = aehost-init:x:9042:9042:AE-DIR virtual host init account:/tmp:/usr/sbin/nologin

# Template string for deriving GECOS field from e.g. user name
# Default: AE-DIR user {username}
#gecos_tmpl = AE-DIR user {username}

{% if aehostd_homedir_tmpl %}
# Template string for deriving home directory path name from e.g. user name
homedir_tmpl = {{ aehostd_homedir_tmpl }}
{% endif %}

# Login shell to be used if attribute loginShell is not available
#loginshell_default = /usr/sbin/nologin

# Login shell always used not matter what's in attribute loginShell
# Default: None (disabled)
#loginshell_override =

{% if aehostd_sudoers_file %}
# sudo parameters
#-------------------------------------------

# Path name of sudoers export file to be picked up by privileged helper
sudoers_file = {{ aehostd_sudoers_file }}

# Directory name where privileged helper stores sudoers export file
sudoers_includedir = /etc/sudoers.d

# pathname of visudo executable
# Default: /usr/sbin/visudo
#visudo_exec = /usr/sbin/visudo
# pathname of visudo cvtsudoers
# Default: /usr/bin/cvtsudoers
#cvtsudoers_exec = /usr/bin/cvtsudoers
{% endif %}

# PAM parameters
#-------------------------------------------

# Cache TTL (seconds) of PAM authc results
# Default: -1 (disabled)
pam_authc_cache_ttl = {{ aehostd_pam_authc_cache_ttl }}

# PAM request attributes to be used for caching of PAM authc results
# (e.g. add 'rhost' to pin cache entry to remote IP address)
# Default: username password
pam_authc_cache_attrs = {{ aehostd_pam_authc_cache_attrs|join(' ') }}

# LDAP filter template used for checking authorization of a user
pam_authz_search = {{ aehostd_pam_authz_search }}

# Error message sent to user about password change disabled/denied
pam_passmod_deny_msg = Changing password on local system is not allowed for this user!

