# {{ ansible_managed }}
#
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port 22

{% if aehostd_sshd_listen_addresses %}
# Restrict which interfaces/protocols sshd will bind to
{% for listen_addess in aehostd_sshd_listen_addresses %}
ListenAddress {{ listen_addess }}
{% endfor %}
{% endif %}

Protocol 2
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Logging
SyslogFacility AUTH
LogLevel {{ aehostd_sshd_loglevel }}

# Authentication:
LoginGraceTime 120
PermitRootLogin yes
StrictModes yes

PubkeyAuthentication yes
# find pre-installed SSH keys in fixed location for
# - separately configured services
# - root's emergency keys
AuthorizedKeysFile {{ aehostd_sshd_authorized_keys }}/%u
# retrieve SSH keys loaded from AE-DIR from separate location
# with different ownership
AuthorizedKeysCommand /bin/cat '{{ aehostd_sshkeys_dir }}/%u'
AuthorizedKeysCommandUser {{ aehostd_user }}

{% if aehostd_sshd_trusted_userca_keys %}
# File name of public keys trusted for signing user certs
TrustedUserCAKeys {{ aehostd_sshd_trusted_userca_keys }}
{% endif %}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# similar for protocol version 2
HostbasedAuthentication no
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication no

# no Kerberos/GSSAPI
KerberosAuthentication no
GSSAPIAuthentication no

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

{% if aehostd_sshd_sftp_server %}
# SFTP server to use
Subsystem sftp {{ aehostd_sshd_sftp_server }}
{% endif %}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin yes".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

AuthenticationMethods publickey

Match User aehost-init
    # enable aehostd's password initialization via PAM
    PasswordAuthentication yes
    AuthenticationMethods password
