#%PAM-1.0
#
# {{ ansible_managed }}
# All changes will be overwritten.
#
# Session-related modules common to all services
#
# This file is included from other service-specific PAM config files,
# and should contain a list of modules that define tasks to be performed
# at the start and end of sessions of *any* kind (both interactive and
# non-interactive
#
session	required	pam_limits.so
{% if aehostd_pam_mkhomedir_args %}
session	required	pam_mkhomedir.so {{ aehostd_pam_mkhomedir_args }}
{% endif %}
session	sufficient	{{ aehostd_pam_module }}	minimum_uid={{ aehostd_min_uid }}
session	required	pam_unix.so
session	optional	pam_umask.so
session	optional	pam_env.so
session	optional	pam_systemd.so
